.container {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 1fr 50px;
  grid-template-areas:
    "side-options dashboard"
    "side-options footer";
  height: 100vh;
}

.side-options {
  grid-area: side-options;
}

.dashboard {
  grid-area: dashboard;
}

.footer {
  grid-area: footer;
}

